// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        key_layer_behaviour: key_layer_behaviour {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_LAYER_BEHAVIOUR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            retro-tap;
            flavor = "hold-preferred";
            tapping-term-ms = <0>;
        };

        key_key_behaviour: key_key_behaviour {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_KEY_BEHAVIOUR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            retro-tap;
            tapping-term-ms = <0>;
        };

        key_key_timed_behaviour: key_key_timed_behaviour {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_KEY_TIMED_BEHAVIOUR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B                                          &kp J                                 &kp L                                &kp U                                &kp Y    &kp SEMI
&kp A  &kp R  &kp S  &kp T  &kp G                                          &kp M                                 &key_key_timed_behaviour LEFT_WIN N  &key_key_timed_behaviour LEFT_ALT E  &kp I    &kp O
&kp X  &kp C  &kp D  &kp V  &kp Z                                          &kp K                                 &kp H                                &kp COMMA                            &kp DOT  &kp FSLH
                     &mo 1  &key_key_timed_behaviour LEFT_CONTROL SPACE    &key_key_behaviour LEFT_SHIFT RETURN  &mo 2
            >;
        };

        number_layer {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans    &trans         &trans          &trans        &trans     &trans
&trans  &kp N4  &kp N5  &kp N6  &trans    &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &kp N1  &kp N2  &kp N3  &trans    &kp DELETE     &kp TAB         &trans        &trans     &trans
                        &trans  &trans    &kp BACKSPACE  &mo 3
            >;
        };

        symbol_layer {
            bindings = <
&trans             &kp AMPERSAND  &kp ASTERISK  &kp SQT    &kp TILDE    &trans  &kp LBKT              &kp RBKT               &kp BACKSLASH  &trans
&kp DOUBLE_QUOTES  &kp DOLLAR     &kp PERCENT   &kp CARET  &kp PIPE     &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS      &kp PLUS
&trans             &kp EXCL       &kp AT_SIGN   &kp HASH   &kp GRAVE    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER      &kp EQUAL
                                                &mo 3      &trans       &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
